@charset "euc-kr";

/*가로속성*/
.w100{width:100%;}
.w95{width:95%;}
.w90{width:90%;}
.w85{width:85%;}
.w80{width:80%;}
.w75{width:75%;}
.w70{width:70%;}
.w65{width:65%;}
.w60{width:60%;}
.w55{width:55%;}
.w50{width:50%;}
.w45{width:45%;}
.w40{width:40%;}
.w35{width:35%;}
.w30{width:30%;}
.w25{width:25%;}

.h30{height:30%}

/* */
.pd_l5{padding-left:5px;}
.pd_l10{padding-left:10px;}
.pd_l15{padding-left:15px;}
.pd_l20{padding-left:20px;}
.pd_l25{padding-left:25px;}
.pd_l30{padding-left:30px;}
.pd_l35{padding-left:35px;}
.pd_l40{padding-left:40px;}
.pd_l50{padding-left:50px;}
.pd_l60{padding-left:60px;}
.pd_l80{padding-left:80px;}
.pd_l200{padding-left:200px;}
.pd_l250{padding-left:250px;}

.pd_r5{padding-right:5px;}
.pd_r10{padding-right:10px;}
.pd_r15{padding-right:15px;}
.pd_r20{padding-right:20px;}
.pd_r30{padding-right:30px;}
.pd_r50{padding-right:50px;}
.pd_r70{padding-right:70px;}
.pd_r80{padding-right:80px;}
.pd_r200{padding-right:200px;}
.pd_r250{padding-right:250px;}

.pd_t5{padding-top:5px;}
.pd_t10{padding-top:10px;}
.pd_t20{padding-top:20px;}
.pd_t30{padding-top:30px;}
.pd_t50{padding-top:50px;}
.pd_t70{padding-top:70px;}
.pd_t80{padding-top:80px;}

.pd_b5{padding-bottom:5px;}
.pd_b10{padding-bottom:10px;}
.pd_b15{padding-bottom:15px;}
.pd_b20{padding-bottom:20px;}
.pd_b25{padding-bottom:25px;}
.pd_b30{padding-bottom:30px;}
.pd_b35{padding-bottom:35px;}
.pd_b40{padding-bottom:40px;}

.mg_t3{margin-top:3px;}
.mg_t5{margin-top:5px;}
.mg_t10{margin-top:10px;}
.mg_t15{margin-top:15px;}
.mg_t20{margin-top:20px;}
.mg_t25{margin-top:25px;}
.mg_t30{margin-top:30px;}
.mg_t35{margin-top:35px;}
.mg_t40{margin-top:40px;}
.mg_t45{margin-top:45px;}


.mg_b5{margin-bottom:5px;}
.mg_b10{margin-bottom:10px;}
.mg_b15{margin-bottom:15px;}
.mg_b20{margin-bottom:20px;}
.mg_b25{margin-bottom:25px;}
.mg_b30{margin-bottom:30px;}
.mg_b35{margin-bottom:35px;}
.mg_b40{margin-bottom:40px;}


/*정렬*/
.float_left{float:left;}
.float_right{float:right;}

.t_center{text-align:center;}
.t_left{text-align:left;}
.t_right{text-align:right;}

